{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% import '@PrestaShop/Admin/macros.html.twig' as ps %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col">
      {% block form %}
        {{ form_start(form) }}
          <div class="card">
            <h3 class="card-header">
              <i class="material-icons">{{ formTitleIcon }}</i>
              {{ formTitle }}
            </h3>

            <div class="card-block row">
              <div class="card-text">
                {{ form_errors(form) }}                
                
                {% if specialTemplate is defined %}
                  {{ include(specialTemplate) }}
                {% endif %}

                {% block form_rest %}
                  {{ form_rest(form) }}
                {% endblock %}
              </div>
            </div>

            <div class="card-footer clearfix">
              <a href="{{ path(cancelPath) }}" class="btn btn-outline-secondary">
                <i class="material-icons">cancel</i>
                {{ 'Cancel'|trans({}, 'Admin.Actions') }}
              </a>
              <button class="btn btn-primary float-right">
                <i class="material-icons">save_alt</i>
                {{ 'Save'|trans({}, 'Admin.Actions') }}
              </button>
            </div>
          </div>
        {{ form_end(form) }}
      {% endblock %}
    </div>
  </div>
{% endblock %}


{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('../modules/retailersmap/views/js/dist/admin.bundle.js') }}"></script>
{% endblock %}
