{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% import '@PrestaShop/Admin/macros.html.twig' as ps %}

{% set height = settingsForm.settings.height %}
{% set cmsPageId = settingsForm.settings.cmsPageId %}
{% set tilesProvider = settingsForm.settings.tilesProvider %}
{% set pageId = preview ? 'preview' : 'moduleAdmin' %}

{% block content %}
  {% block settings_form %}
    {{ form_start(settingsForm) }}
      <div class="card">
        <h3 class="card-header">
          <i class="material-icons">settings</i>
            {{ 'Settings'|trans({}, 'Modules.Retailersmap.Settings') }}
        </h3>
        
        <div class="card-block row">
          <div class="card-text">
            {{ form_errors(settingsForm) }}
            
            {{ ps.form_group_row(
              height, 
              { attr: { value : height.vars.value } },
              { label: height.vars.label }
            ) }}

            {{ ps.form_group_row(
              cmsPageId, 
              { attr: { value : cmsPageId.vars.value } },
              { label: cmsPageId.vars.label }
            ) }}

            {{ ps.form_group_row(
              tilesProvider, 
              { attr: { value : tilesProvider.vars.value } },
              { label: tilesProvider.vars.label }
            ) }}
          </div>
        </div>
        
        
          {% block settings_form_buttons %}
            <div class="card-footer text-right">
              {{ form_widget(settingsForm.settings.seePreview) }}
              {{ form_widget(settingsForm.settings.save) }}
              <div><small>{{ saveAdvice }}</small></div>
            </div>
          {% endblock %}
      </div>
    {{ form_end(settingsForm) }}
  {% endblock %}

  {% block map %}
    {% if preview %}
      <p><strong>
        {{ 
          'This is just a preview. Press Save button to save data'|
          trans({}, 'Modules.Retailersmap.Settings') 
        }}
      </strong></p>
    {% endif %}

    {{ renderhook(
        'displayRetailersMap',
        {
          'pageId': pageId,
          'settings': mapPreviewSettings
        }
    ) }}
  {% endblock %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}
